 <!-- Cover Photo-->
  <header class="komik">
    <div class="container">
      <div class="row padding-top-100 white">
        <div class="container">
          <h1><b>SOALAN?</b></h1>
          <h4>Soal jawab tentang Supreme ada di sini.</h4>
        </div>
      </div>
    </div>
  </header>
  <!-- END Cover Photo-->

  <div class="row">
    <div class="container">
      <div class="col-md-6 col-md-offset-3 grey-font center">
        <ul>     
          <a href="#/faq-umum"><li class="float-left">Umum</li></a>
          <a href="#/faq-rumble"><li class="float-left active"><b>Rumble</b></li></a>
        </ul>
      </div>
    </div>
  </div>


  <div class="row color-999">

    <div class="container">

      <h3 class="no-padding">Apakah Supreme Rumble?</h3>
      <div>Satu acara dimana pengkarya baru boleh menunjukkan potensi karya mereka sebelum menjadi salah satu pengkarya di Supreme.</div>
      <h3 class="no-padding" >Mengapa perlu ada Supreme Rumble?</h3>

      <div>Salah satu sebabnya adalah Supreme mementingkan karya yang berkualiti pada jalan ceritanya dan bukan pada lukisan semata-
mata. Oleh itu, penapisan akan dibuat dahulu oleh pihak Editor sebelum karya tersebut melangkah ke siri.</div>

      <h3 class="no-padding" >Bila Supreme Rumble akan berlangsung?</h3>
      <div>Supreme Rumble hanya berlangsung 4 kali dalam setahun. Bulan Februari, May, Ogos, dan November sahaja.</div>

      <h3 class="no-padding" >Bagaimana untuk menyertai Supreme Rumble?</h3>
      <div>Untuk maklumat lanjut, klik di sini.</div>

      <h3 class="no-padding" style="padding-top: 50px;" >Ada soalan lain?</h3>
      <div style="padding-bottom: 50px;">Jangan segan untuk tanya kami di facebook atau emel sahaja di supreme.comichat@gmail.com</div>

    </div>
  </div>