 <!-- Cover Photo-->
  <header class="komik">
    <div class="container">
      <div class="row padding-top-100 white">
        <div class="container">
          <h1><b>SOALAN?</b></h1>
          <h4>Soal jawab tentang Supreme ada di sini.</h4>
        </div>
      </div>
    </div>
  </header>
  <!-- END Cover Photo-->

  <div class="row">
    <div class="container">
      <div class="col-md-6 col-md-offset-3 grey-font center">
        <ul>     
          <a href="#/faq-umum"><li class="float-left active">Umum</li></a>
          <a href="#/faq-rumble"><li class="float-left"><b>Rumble</b></li></a>
        </ul>
      </div>
    </div>
  </div>


  <div class="row color-999">

    <div class="container">

      <h3 class="no-padding">Kenapa membaca di Supreme?</h3>
      <div>Supreme memaparkan komik tempatan yang berpotensi di kalangan pengkarya amatur. Malah, komik yang kami paparkan adalah 
  eksklusif dan hanya khas untuk pembaca Supreme sahaja. (Tiada di tempat lain.) </div>
      <h3 class="no-padding" >Kenapa komik yang ditayangkan tidak siap sepenuhnya?</h3>
      <div>Disebabkan ianya tayangan percuma, Supreme hanya akan paparkan lakaran sahaja demi menghormati pengkarya yang memasang
  niat untuk menerbitkannya pada akan datang. Namun lakaran tersebut akan dipastikan kemas dan boleh dibaca dengan baik. </div>
      <h3 class="no-padding" >Adakah Supreme penerbit?</h3>
      <div>Tidak,  kami bukan penerbit sepenuhnya. Kami lebih memfokuskan dalam membantu pengkarya meningkatkan populariti karya mereka 
  sebelum mula menerbit sama ada terbit sendiri ataupun terbit bersama syarikat penerbit.  </div>
      <h3 class="no-padding" >Bagaimana dengan hakcipta?</h3>
      <div>Supreme tidak memegang mana-mana hakcipta karya. Kami hanya akan buat perjanjian bersama pengkarya dimana karya tersebut
  tidak boleh ditayangkan di tempat lain kecuali telah mendapat kebenaran dari pihak Supreme.</div>
      <h3 class="no-padding" >Adakah pengkarya boleh menjana pendapatan di Supreme?</h3>
      <div>Ya. Setiap komik mempunyai rekod ‘pageview’. Semakin ramai pembaca, semakin besar peluang untuk menjana pendapatan. Sistem
  ini hanya diaplikasikan untuk komik siri sahaja.</div>
      <h3 class="no-padding" style="padding-top: 50px;" >Ada soalan lain?</h3>
      <div style="padding-bottom: 50px;">Jangan segan untuk tanya kami di facebook atau emel sahaja di supreme.comichat@gmail.com</div>

    </div>
  </div>