  <!-- Cover Photo-->
  <img src="img/cover/cover-rumble-ogos.png" class="cover-top img-responsive"></img>
  <!-- END Cover Photo-->
  
  <!-- Carousel -->
  <div class="container-fluid dark-grey-background">
    <div class="col-md-4 col-md-offset-4">
      <div class="row  text-center padding-title">
        <h1 class="text-uppercase h1-title">Rumble Ogos 2016</h1>
        <p class="text-uppercase p-title">Acara Popular Bulan Ini</p>
        <a href="/rumble"><div class="btn btn-default text-uppercase">Baca</div></a>
      </div>
    </div>
  </div>
  <!-- End Carousel -->
  
  <!-- Notis Penting -->
  <div class="padding-notis soft-grey-background">
    <div class="container text-center">
      Notis Penting : Sucomi Rumble hanya akan diadakan pada bulan Februari, Mei, Ogos dan November sahaja.
    </div>
  </div>
  <!-- End Notis Penting -->

  <!-- Terkini-->
  <div class="padding-section">
    <div class="container">
      <div class="row comic-title text-center">
        <div class="container">

          <div class="row">

            <div class="col-md-12">
              <h4 class="title">TERKINI</h4>
              <p>Episod baru bagi siri Aretis yang dikemaskini pada hari Isnin sahaja.</p>
            </div>

          </div>
          
          <div class="row padding-content">

            <div class="col-md-3 col-sm-6" ng-repeat="terkini in komikTerkini.terkini">
              <a href="/siri/{{terkini.siri}}"><img class="thumbnails-komik" src="komik/siri/{{terkini.siri}}/ep{{terkini.episod}}/cover.jpg"></a>
              <h4 class="text-uppercase">{{terkini.siri}}</h4>
              <div>
                <p class="aretis-episod">Episod {{terkini.episod}}</p>
                <p class="aretis-name">{{terkini.pengkarya}}</p>
                
              </div>
            </div>

          </div>
          
        </div>
      </div>
    </div>
  </div>
   <!-- End Terkini-->

  <hr>

  <!-- Popular-->
  <div class="padding-section">
    <div class="container">
      <div class="row comic-title text-center">
        <div class="container">
        
          <div class="row">
            <div class="col-md-12">
              <h4 class="title">POPULAR</h4>
              <p>Siri Aretis paling popular.</p>
            </div>
          </div>
          
          <div class="row padding-content">

            <div class="col-md-3 col-sm-6" ng-repeat="popular in komikPopular.popular">
              <a href="/siri/{{popular.siri}}"><img class="thumbnails-komik" src="komik/siri/{{popular.siri}}/ep01/cover.jpg"></a>
              <h4 class="text-uppercase">{{popular.siri}}</h4>
              <div>
                <p class="aretis-name">{{popular.pengkarya}}</p>
                
              </div>
            </div>

          </div>
          
        </div>
      </div>
    </div>
  </div>
   <!-- End Popular-->
  
  <hr>

  <!--  Pilihan Editor-->
  <div class="padding-section">
    <div class="container">
      <div class="row comic-title text-center">
        <div class="container">
        
          <div class="row">
            <div class="col-md-12">
              <h4 class="text-uppercase title">Rekemen</h4>
              <p>Siri Aretis yang direkemenkan.</p>
            </div>
          </div>
          
          <div class="row padding-content">
            <div class="col-md-3 col-sm-6" ng-repeat="rekemen in komikRekemen.rekemen">
              <a href="/siri/{{rekemen.siri}}"><img class="thumbnails-komik" src="komik/siri/{{rekemen.siri}}/ep01/cover.jpg"></a>
                <h4 class="text-uppercase">{{rekemen.siri}}</h4>
                <div>
                  <p class="aretis-name">{{rekemen.pengkarya}}</p>
                </div>
            </div>

          </div>
          
        </div>
      </div>
    </div>
  </div>
  <!--  End Pilihan Editor -->
  
  <hr>

  <!-- Siri Terpanjang -->
  <div class="padding-section">
    <div class="container">
      <div class="row comic-title text-center">
        <div class="container">
        
          <div class="row">
            <div class="col-md-12">
              <h4 class="text-uppercase title">Terpanjang</h4>
              <p>Siri Aretis yang paling panjang episodnya.</p>
            </div>
          </div>
          
          <div class="row padding-content">

            <div class="col-md-3 col-sm-6" ng-repeat="terpanjang in komikTerpanjang.terpanjang">
              <a href="/siri/{{terpanjang.siri}}"><img class="thumbnails-komik" src="komik/siri/{{terpanjang.siri}}/ep01/cover.jpg"></a>
                <h4 class="text-uppercase">{{terpanjang.siri}}</h4>
                <div>
                  <p class="aretis-name">{{terpanjang.pengkarya}}</p>
                </div>
            </div>

          </div>
          
        </div>
      </div>
    </div>
  </div>
  <!--  End Siri Terpanjang -->

  <!-- Rakan Seperjuang -->
  <div class="padding-rakan soft-grey-background">
    <div class="container">
      <div class="row comic-title text-center">
        <div class="container">
        
          <div class="row">
            <div class="col-md-12">
              <h4 class="text-uppercase title">Kagumi rakan seperjuangan kami!</h4>
            </div>
          </div>
          
          <div class="row padding-content-rakan">

            <div class="col-md-3 col-sm-6">
              <a href="http://alfiya.alfistudio.com/" target="_blank"><img class="thumbnails-rakan" src="img/rakan/alfiya.png"></a>
                <h4>Alfiya</h4>
                <div>
                  <p>
                    <a href="https://www.facebook.com/alfiya.malaysia" target="_blank"><i class="fa fa-facebook-official fa-padding"></i></a>
                    <a href="https://www.instagram.com/alfiya.malaysia/" target="_blank"><i class="fa fa-instagram fa-padding"></i></a>
                    <a href="http://alfiya.alfistudio.com/" target="_blank"><i class="fa fa-globe fa-padding"></i></a>
                  </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
              <a href="http://skuadmisi.com/" target="_blank"><img class="thumbnails-rakan" src="img/rakan/skuadmisi.png"></a>
                <h4>Skuad Misi</h4>
                <div>
                  <p>
                    <a href="https://www.facebook.com/skuadmisi" target="_blank"><i class="fa fa-facebook-official fa-padding"></i></a>
                    <a href="https://www.instagram.com/skuadmisi/" target="_blank"><i class="fa fa-instagram fa-padding"></i></a>
                    <a href="http://skuadmisi.com/" target="_blank"><i class="fa fa-globe fa-padding"></i></a>
                  </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
              <a href="http://buasirotak.blogspot.com" target="_blank"><img class="thumbnails-rakan" src="img/rakan/buasirotak.png"></a>
                <h4>Buasir Otak</h4>
                <div>
                  <p>
                    <a href="https://www.facebook.com/buasirotakthekomik" target="_blank"><i class="fa fa-facebook-official fa-padding"></i></a>
                    <a href="http://buasirotak.blogspot.com" target="_blank"><i class="fa fa-globe fa-padding"></i></a>
                  </p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
              <a href="http://www.matkomik.com/" target="_blank"><img class="thumbnails-rakan" src="img/rakan/matkomik.png"></a>
                <h4>Matkomik</h4>
                <div>
                  <p>
                    <a href="https://www.facebook.com/matkomik/" target="_blank"><i class="fa fa-facebook-official fa-padding"></i></a>
                    <a href="https://www.instagram.com/matkomik/" target="_blank"><i class="fa fa-instagram fa-padding"></i></a>
                    <a href="http://www.matkomik.com/" target="_blank"><i class="fa fa-globe fa-padding"></i></a>
                  </p>
                </div>
            </div>

          </div>
          
        </div>
      </div>
    </div>
  </div>
  <!--  End Rakan Seperjuang -->

