 <!-- Cover Photo-->
<img src="img/cover/cover-tiada.png" class="cover-top img-responsive"></img>
<!-- END Cover Photo-->

<!-- Carousel -->
<div class="container-fluid dark-grey-background">
  <div class="col-md-4 col-md-offset-4">
    <div class="row  text-center">
      <h1 class="text-uppercase h1-title">Mengenai</h1>
      <p class="text-uppercase p-title">Anak muda yang bermimipi namun kurang tidurnya.</p>
    </div>
  </div>
</div>
<!-- End Carousel -->

<!-- Tab Selection -->
<div class="container-fluid soft-grey-background">
  <div class="container text-center">
    <div class="col-md-4">
      <div class="col-md-10 col-md-offset-1 tab-selection-inactive padding-tab-selection">
        <a class="rumble-href" href="/tim">
          <h4 class="text-uppercase">
              Tim
          </h4>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="col-md-10 col-md-offset-1 tab-selection-active padding-tab-selection">
        <a class="rumble-href" href="/mengenai">
          <h4 class="text-uppercase">
              Sucomi
          </h4>
        </a>  
      </div>
    </div>
    <div class="col-md-4">
      <div class="col-md-10 col-md-offset-1 tab-selection-inactive padding-tab-selection">
        <a class="rumble-href" href="/penjenamaan">
          <h4 class="text-uppercase">
              Penjenamaan
          </h4>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- End Tab Selection -->

<!-- Content -->
<div class="padding-section-rumble">
  <div class="container">
    <div class="col-md-12 text-center" >
      <p class="text-uppercase title-komik padding-title-komik">ASAL USUL</p>
      <p class="text-left">29 April 2016, Sucomi telah diwujudkan sebagai pengganti Supreme Comichat. Pengasas awal Supreme Comichat iaitu Azam Azri mengubah penjenamaannya dan dibantu oleh Ridhwan Daud dalam pembangunan laman web. Nama Sucomi rata-rata diambil dari nama Supreme Comichat. Ianya dipendekkan, dimudahkan dan diberikan nama baru agar boleh dikenali tanpa bercanggah dengan jenama lain. </p>
    </div>
  </div>
</div>

<hr class="margin-end-komik">

<div class="padding-keterangan-rumble">
  <div class="container">
    <div class="col-md-12 text-center" >
      <p class="text-uppercase title-komik padding-title-komik">FUNGSI</p>
      <p class="text-left">Menjadi platform kepada pengkarya komik amatur untuk mempromosi dan mengembangkan komik mereka disamping mengumpulkan pengalaman di dalam industri. Sucomi juga boleh dijadikan tempat untuk pengkarya mengumpul pengikut, meningkatkan pengetahuan dalam pembikinan komik dan mencari peluang penerbitan buku.</p>
    </div>
  </div>
</div>

<hr class="margin-end-komik">

<div class="padding-keterangan-rumble">
  <div class="container">
    <div class="col-md-12 text-center" >
      <p class="text-uppercase title-komik padding-title-komik">KEUNIKAN</p>
      <p class="text-left">Kami jadikan Sucomi seperti Liga Komik - dimana pengkarya mempunyai pangkat dan boleh melibatkan diri dengan pelbagai acara yang akan diadakan. Sucomi juga mempunyai Editor tersendiri yang akan memberikan bimbingan kepada pengkarya.</p>
    </div>
  </div>
</div>

<!-- End Content -->
<hr class="margin-end-komik">

<!-- End Rumble -->
