   <!-- Cover Photo-->
  <header class="rumble">
    <div class="container">
      <div class="row white" style="min-height: 342px;">
        <div class="container">
        </div>
      </div>
    </div>
  </header>
  <!-- END Cover Photo-->
  <div class="container black">
    <div class="col-md-12 " >
      <h3>Komik Oneshot</h3>
    </div>
    <div class="center">
      <div class="col-md-3 col-sm-6 text-center" ng-repeat="siri in siriRumble">
        <a href="#/rumble/oneshot/{{siri.namaSiri}}"><img class="thumbnails-komik" ng-src="/komik/oneshot/{{siri.namaSiri}}/cover.jpg"></a>
        <h4 class="nama-siri hidden-long-text"><b>{{siri.namaSiri}}</b></h4>
        <div class="nama-pelukis">
         <p>{{siri.pelukis}}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="" style="padding:20px 0px; background-color: #E6E6E6">
    <div class="container">
      <div class="row" style="background-color: #E6E6E6">
       <div class="col-md-12" >
          <h3>Undi</h3>
        </div>
        <div class="col-md-12 center">
          <iframe src="https://docs.google.com/forms/d/1B6BXQ9cc3CBZ4Ngy4hYvEu2CPvKotRRG6nlg32ANzXU/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        </div>
      </div>
    </div>
  </div> -->