 <!-- Cover Photo-->
  <header class="komik">
    <div class="container">
      <div class="row padding-top-100 white">
        <div class="container">
          <h1><b>TENTANG KAMI</b></h1>
          <h4>Sekumpulan anak muda yang sedang berusaha membantu industri komik tempatan.</h4>
        </div>
      </div>
    </div>
  </header>
  <!-- END Cover Photo-->

  <div class="row">
    <div class="container">
      <div class="col-md-4 col-md-offset-4 grey-font center">
        <ul>     
          <a href="#/mengenai"><li class="float-left "><b>Supreme</b></li></a>
          <a href="#/tim"><li class="float-left active"><b>Tim</b></li></a>
        </ul>
      </div>
    </div>
  </div>
  <div>
  <div class="container">
    <h3 class="no-padding">Tim Supreme</h3>
    <div style="padding-bottom: 20px;color: #999;">Kenali pengasas dan penggerak disebalik website Supreme Comichat.</div>
    <div class="row" style="color: #999;">
      <div class="col-md-3 col-sm-6 thumbnail-custom center">
            <a href="https://www.facebook.com/muhammad.azamazri" target="_blank"><img  class="icon-tim" src="img/users/dp-azam.jpg" alt=""></a>
            <div>
              <h4 class="black">Azam Azri</h4>  
              <p class="soft-grey-font">Pengasas + Pengurus + Pereka</p>
            </div>
      </div>
      <div class="col-md-3 col-sm-6 thumbnail-custom center">
            <a href="https://www.facebook.com/ridhwan28" target="_blank"><img class="icon-tim" src="img/users/dp-wanda.jpg" alt=""></a>
            <div>
              <h4 class="black">Ridhwan</h4>  
              <p class="soft-grey-font">Programmer</p>
            </div>
      </div>
    </div>
  </div>
  <div class="soft-grey">
    <div class="container">
        <h3 class="no-padding">Editor Supreme</h3>
        <div style="padding-bottom: 20px;color: #999;">Siapa lagi yang akan membimbing pengkarya selain mereka?</div>
        <div class="col-md-3 col-sm-6 thumbnail-custom center" ng-repeat="editor in listEditor">
            <a href="{{editor.fbUrl}}" target="_blank"><img class="icon-tim" ng-src="img/users/{{editor.namaEditor}}.jpg" alt=""></a>
            <div>
              <h4 class="black">{{editor.namaEditor}}</h4>  
            </div>
        </div>
    </div>
  </div>   
  </div>